:root {
  --azul-claro: #EAF2FD;
  --azul-medio: #2A7AE4;
  --branco: #FFFFFF;
  --cinza-claro: #E5E5E5;
  --cinza-escuro: #464646;
  --gelo: #F5F5F5;
}

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 23rem;
}