.cabecalho {
  align-items: center;
  display:flex;
  flex-direction: row;
  height: 4.5rem;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 21rem;
}

.cabecalho__logo {
  height: 1.75rem;
  width: 6.25rem;
}

.cabecalho__botao {
  background-color: var(--branco);
  border: 1px solid var(--azul-medio);
  color: var(--azul-medio);
  height: 2.5rem;
  width: 8.3rem;
}

.cabecalho__lupa {
  height: 1.1rem;
  width: 1.2rem;
}

@media screen and (min-width: 360px) {
  .cabecalho__pesquisa {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .cabecalho {
    width: 46rem;
  }

  .cabecalho__lupa {
    display: none;
  }

  .cabecalho__pesquisa {
    background-color: var(--gelo);
    border: none;
    border-radius: 16px;
    display: flex;
    height: 2.5rem;
    padding-left: 1rem;
    width: 17rem;
  }

  .cabecalho__input {
    background-color: transparent;
    border: none;
    float: left;
    height: 2.5rem;
    width: 15rem;
  }

  .cabecalho__img {
    align-self: center;
    height: 1rem;
    width: 1rem;
  }
}