.menu {
  align-items: center;
  background-color: var(--azul-claro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22.5rem;
}

.menu__logo {
  height: 3.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 11rem;
}

.menu__lista {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  width: 20rem;
}

.menu__item {
  color: var(--cinza-escuro);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.menu__link {
  text-decoration: none;
}

.menu__link:link,
.menu__link:active,
.menu__link:visited,
.menu__link:hover {
  color: var(--cinza-escuro);
}

.menu__titulo--formulario {
  align-self: flex-start;
  color: var(--cinza-escuro);
  font-size: 1rem;
  font-weight: 700;
  padding-left: 1rem;
}

.menu__nome {
  border: none;
  border-bottom: 3px solid var(--cinza-claro);
  border-radius: 4px;
  height: 3.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  outline: none;
  padding-left: 1rem;
  padding-top: 0.5rem;
  width: 19rem;
}

.menu__mensagem {
  border: none;
  border-bottom: 3px solid var(--cinza-claro);
  border-radius: 4px;
  height: 5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  outline: none;
  padding-left: 1rem;
  padding-top: 0.5rem;
  width: 19rem;
}

.menu__botao {
  background-color: var(--azul-medio);
  border: none;
  color: var(--branco);
  font-size: 0.875rem;
  font-weight: 600;
  height: 2.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 9.4rem;
}

@media screen and (min-width: 768px) {
  .menu {
    align-items: flex-start;
    flex-direction: row;
    width: 46rem;
  }

  .menu__imagem {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 21rem;
  }

  .menu__logo {
    align-self: flex-start;
    padding-left: 2rem;
  }

  .menu__lista {
    align-items: flex-start;
    margin-left: -13rem;
    padding-left: 2rem;
    padding-top: 6rem;
    position: absolute;
    float: left;
    width: 11rem;
  }

  .menu.item {
    width: auto;
  }

  .menu__form {
    margin-left: 6rem;
    margin-top: 2rem;
  }  

  .menu__titulo--formulario {
    padding-left: 0;
  }

  .menu__nome, .menu__mensagem {
    margin-left: 0;
    width: 27rem;
  }
}