.produtos {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 20rem;
}

.produtos__cabecalho {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
}

.produtos__titulo {
  color: var(--cinza-escuro);
  font-size: 1.375rem;
  font-weight: 700;
}

.produtos__botao--voltar {
  background-color: var(--branco);
  border: none;
  color: var(--azul-medio);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
}

.produtos__area {
  display: flex;
  width: 21rem;
}

.produto__lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 21rem;
}

.produto__item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 16rem;
  list-style-type: none;
  margin: 0;
  width: 9.75rem;
}

.produtos__img {
  height: 10.9rem;
  width: 9.75rem;
}

.produto__img {
  height: 10.9rem;
  width: 9.75rem;
}

.produto_descricao {
  display: flex;
  flex-direction: column;
  width: 9.75rem;
}

.produto__nome {
  color: var(--cinza-escuro);
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.produto__preco {
  color: var(--cinza-escuro);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.produto__botao {
  border: none;
  color: var(--azul-medio);
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0;
}