.produtos {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 21rem;
}

.produtos__cabecalho {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 21rem;
}

.produtos__titulo {
  color: var(--cinza-escuro);
  font-size: 1.375rem;
  font-weight: 700;
}

.produtos__botao--ver {
  background-color: var(--branco);
  border: none;
  color: var(--azul-medio);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
}

.produtos__area {
  display: flex;
  margin-bottom: 2rem;
  width: 21rem;
}

.produto__lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 21rem;
}

.produto__item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 16rem;
  list-style-type: none;
  margin: 0;
  width: 9.75rem;
}

.produtos__img {
  height: 10.9rem;
  width: 9.75rem;
}

.produto__img {
  height: 10.9rem;
  width: 9.75rem;
}

.produto_descricao {
  display: flex;
  flex-direction: column;
  width: 9.75rem;
}

.produto__nome {
  color: var(--cinza-escuro);
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.produto__preco {
  color: var(--cinza-escuro);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.produto__botao {
  border: none;
  color: var(--azul-medio);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0;
}

.produto__link {
  text-decoration: none;
  cursor: pointer;
}

.produto__link:link,
.produto__link:active,
.produto__link:hover,
.produto__link:visited {
  color: var(--azul-medio);
}

@media screen and (min-width: 340px) {
  .produto__item:nth-child(5n) {
    display: none;
  }

  .produto__item:nth-child(6n) {
    display: none;
  }
  
}

@media screen and (min-width: 768px) {
  .produtos {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 44rem;
  }

  .produtos__cabecalho {
    width: 44rem;
  }

  .produtos__botao--ver {
    font-size: 1rem;
  }

  .produtos__area {
    width: 44rem;
  }

  .produto__lista {
    width: 44rem;
  }
  
  .produto__item {
    width: 10rem;
  }
}

@media screen and (min-width:1024px) {
  .produtos {
    padding-left: 9.5rem;
    padding-right: 9.5rem;
    width: 71rem;
  }

  .produtos__cabecalho {
    height: auto;
    width: 71rem;
  }

  .produtos__titulo {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }

  .produtos__botao--ver {
    font-size: 1rem;
    justify-self: flex-end;
  }

  .produtos__area {
    flex-direction: row;
    margin-bottom: 0;
    width: 71rem;
  }

  .produto__lista {
    margin: 0 0 4.6rem 0;
    width: 71rem;
  }

  .produto__item {
    width: 11rem;
  }

  .produtos__img {
    width: 11rem;
  }

  .produto__img {
    width: 11rem;
  }
  
  .produto__descricao {
    width: 11rem;
  }
  .produto__item:nth-child(5n) {
    display: flex;
  }

  .produto__item:nth-child(6n) {
    display: flex;
  }
  
}