.rodape {
  align-items: center;
  background-color: var(--branco);
  color: var(--cinza-escuro);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  height: 6.4rem;
  justify-content: center;
  width: 22.4rem;
}

.rodape__texto {
  text-align: center;
  width: 14.6rem;
}

@media screen and (min-width: 768px) {
  .rodape {  
    width: 48rem
  }

  .rodape__texto {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .rodape {
    width: 90rem;
  }

  .rodape__texto {
    width: 100%;
  }
}